img {
  margin-right: auto;
  margin-left: auto;
  height: 200px;
}

#lezioni{
  text-align: center;
  margin-top: 100px;
}

#steps{
  text-align: center;
    margin-top: 60px;
}

[class*="col-"] {
  margin-bottom: 50px;
}
