img {
  margin-right: auto;
  margin-left: auto;
  height: 200px;
}

[class*="col-"] {
  margin-bottom: 50px;
  margin-top: 20px;
}

#why img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

.container{
  margin-top: 60px;
  text-align: center;
}
